{% extends "places/search_page.html" %}
{% load i18n %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title text-center">{% trans "Sair" %}</h3>
        <hr>
        <p>{% trans "Você tem certeza que deseja sair?" %}</p>

        <form method="post" action="{% url 'account_logout' %}">
          {% csrf_token %}
          <div class="d-grid gap-2">
            <button class="btn btn-danger" type="submit">{% trans "Confirmar e Sair" %}</button>
            <a href="{% url 'search_page' %}" class="btn btn-secondary">Cancelar</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}